version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres
      - mongodb
    environment:
      - DATABASE_URL=postgresql://aviothic:password@postgres:5432/aviothic
      - MONGO_URL=mongodb://mongodb:27017/aviothic
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./src:/app/src
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: aviothic
      POSTGRES_PASSWORD: password
      POSTGRES_DB: aviothic
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data: